/*--------------------------------- Background images */
/* CREDIT HERE */

.background {
    background: url(https://github.com/rudberga/CI-MS2-inspiry-tokyo/blob/master/assets/img/tokyo-background.jpg?raw=true) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--------------------------------- Inspiry logo */

.logo {
    position:absolute;
    left:2;
    top:0;
    max-width: 16em;
}

.logo-heart {
    position:absolute;
    right:30px;
    top:25px;
    font-size: 1.5em;
    color: #fff;
}