/*--------------------------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*--------------------------------- Background */

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

/* CREDIT HERE for image */

.background {
    background: url(https://github.com/rudberga/CI-MS2-inspiry-tokyo/blob/master/assets/img/tokyo-background.jpg?raw=true) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--------------------------------- Inspiry & heart logo */

.logo {
    position:absolute;
    left:2;
    top:0;
    max-width: 16em;
}

.logo-heart {
    position:absolute;
    right:30px;
    top:25px;
    font-size: 1.5em;
    color: #fff;
}

/*--------------------------------- Welcome */

.text-welcome {
    text-align: center;
    margin-top: 90px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
    text-shadow: 1.5px 1.5px 0px rgb(219, 219, 219);
}

.text-welcome-btn {
    text-align: center;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.welcome-btn-img {
    max-width: 85%;
    max-height: 85%;
}

.text-welcome-btn {
    position:relative;
    display:inline-block;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.text-tokyo {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #e74c3c 50%);
}

/*--------------------------------- Welcome cards */
/* CREDIT for cards: https://codepen.io/abhishek747/pen/BbWKVa */
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.651);
    margin-top: 50px;
    margin-bottom: 4.5em;
  }
  
  .card {
    margin: 30px auto;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.068), -5px -5px 30px 7px rgba(0, 0, 0, 0.062);
    cursor: pointer;
    transition: 0.4s;
    margin-top: 70px;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }

  .card_title {
    background-color: #e74c3c;
    border-radius: 0;
    margin-right: 60px;
    margin-left: 60px;
  }
  
  .card .card_title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.99, 0.99);
    box-shadow: 5px 5px 30px 15px rgba(231, 77, 60, 0.192), 
      -5px -5px 30px 15px rgba(231, 77, 60, 0.205);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }

/*--------------------------------- Modal */
/*CREDIT for base modal: https://codepen.io/Ayn_/pen/vmVKZV */

.modal-content {
  background-color: rgb(255, 255, 255);
}

.modal-content h3 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.btn-primary {
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important
}

.cursor-pointer {
  cursor: pointer;
  color: #42A5F5
}

.pic {
  margin-top: 30px;
  margin-bottom: 20px
}

.card-block {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 5px !important;
  background-color: #FAFAFA;
  margin-bottom: 30px
}

.card-body.show {
  display: block
}

.card {
  padding-bottom: 20px;
}

.radio {
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  font-weight: 500;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%)
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.radio.selected {
  box-shadow: 0px 8px 16px 0px #EEEEEE;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%)
}

.selected {
  background-color: #E0F2F1
}

.a {
  justify-content: center !important
}

.btn {
  border-radius: 0px
}

.btn,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important
}

/*--------------------------------- Down arrow */
/*CREDIT: https://codepad.co/snippet/pure-css-arrow-down-bouncing-animation */

.downArrow{
	bottom: 100%;
  left: 50%;
  color: #fff;
  font-size: 40px;
  margin-bottom: 2em;
}

.downArrow button {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 0;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*--------------------------------- Tabs */
/*CREDIT: https://codepen.io/nickfazzpdx/pen/MRWrjJ */

.heading-design {
  cursor: pointer;
  background-color: #fff;
  border-bottom: solid 1px #212121;
  padding: 2rem;
  transition: background-color 0.5s ease;
  font-family: 'Roboto', sans-serif;
}

.heading-design:hover {
  background-color: #4f97c7;
  border-bottom: solid 1px #4f97c7;
}

.heading-prog {
  cursor: pointer;
  background-color: #fff;
  border-bottom: solid 1px #212121;
  padding: 2rem;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  font-family: 'Roboto', sans-serif;
}

.heading-prog:hover {
  color: #eeeeee;
  background-color: #212121;
  border-bottom: solid 1px #212121;
}

.heading-music {
  cursor: pointer;
  background-color: #fff;
  border-bottom: solid 1px #212121;
  padding: 2rem;
  transition: background-color 0.5s ease;
  font-family: 'Roboto', sans-serif;
}

.heading-music:hover {
  background-color: #e74c3c;
  border-bottom: solid 1px #e74c3c;
}

.tab-content {
  display: none;
  background-color: #fff;
  padding-bottom: 4em;
  font-family: 'Roboto', sans-serif;
}

.left-content {
  padding-left: 4rem;
  padding-top: 4rem;
  font-size: 3.75rem;
  font-family: 'Roboto', sans-serif;
}

.right-content {
  padding-left: 4rem;
  padding-top: 4rem;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.right-content h3 {
  margin-bottom: 2em;
}

.img-custwidth {
  padding-top: 4rem;
  width: 512px;
}

.btn-toplist {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Rubik', sans-serif;
  background-color: rgba(255, 255, 255, 0.062);
  border: 3px solid #fff;
  color: #fff;
  border-radius: 14px;
  padding: 8px 20px;
  font-size: 17px;
}

.btn-top-page {
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
}

.btn-toplist-esc {
  font-size: 30px;
  cursor: pointer;
}

.top-list-section {
  background-color: #ffffff;
}

.img-tokyo {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

/*--------------------------------- Footer */

.page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 35px;
}

.page-footer-bg-color {
    background-color: #ffffff;
}

.socials-footer {
    text-align: right;
    font-size: 1.5em;
    margin-right: 10px;
}

.socials-footer i {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 5px;
    color: #888888;
}



/*--------------------------------- Top lists map */
/*CREDIT for responsiveness: https://blog.duda.co/responsive-google-maps-for-your-website */

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*--------------------------------- Hover effects */
/*CREDIT for Hover over social links and heart icon: https://ianlunn.github.io/Hover/#effects*/

.hvr-fade {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
}

.hvr-fade-heart {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade-heart:hover, .hvr-fade-heart:focus, .hvr-fade-heart:active {
    background-color: rgba(255, 255, 255, 0);
    color: #e74c3c;
}

/*--------------------------------- Media queries */

@media only screen and (max-width: 600px) {
    .socials-footer {
        text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .text-welcome {
      margin-top: 150px;
  }
}

@media all and (max-width: 600px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {
    .right-content {
        margin-top: 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .downArrow {
      display: none;
    }
  }