/*--------------------------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*--------------------------------- Background */

html, body {
    height: 100%;
}

/* CREDIT HERE for image */

.background {
    background: url(https://github.com/rudberga/CI-MS2-inspiry-tokyo/blob/master/assets/img/tokyo-background.jpg?raw=true) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--------------------------------- Inspiry & heart logo */

.logo {
    position:absolute;
    left:2;
    top:0;
    max-width: 16em;
}

.logo-heart {
    position:absolute;
    right:30px;
    top:25px;
    font-size: 1.5em;
    color: #fff;
}

/*--------------------------------- Welcome */

.text-welcome {
    text-align: center;
    margin-top: 90px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 400;
}

.text-welcome-btn {
    text-align: center;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.welcome-btn-img {
    max-width: 85%;
    max-height: 85%;
}

.text-welcome-btn {
    position:relative;
    display:inline-block;
    text-align: center;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
}

.text-tokyo {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #e74c3c 50%);
}

/*--------------------------------- Welcome cards */
/* CREDIT for cards: https://codepen.io/abhishek747/pen/BbWKVa */
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.651);
    margin-top: 50px;
  }
  
  .card {
    margin: 30px auto;
    width: 200px;
    height: 120px;
    border-radius: 40px;
    border: 0px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    margin-top: 70px;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.95, 0.95);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }

/*--------------------------------- Modal */
/*CREDIT for base modal: https://codepen.io/Ayn_/pen/vmVKZV */
.modal-content h3 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.btn-primary {
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important
}

.cursor-pointer {
  cursor: pointer;
  color: #42A5F5
}

.pic {
  margin-top: 30px;
  margin-bottom: 20px
}

.card-block {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 5px !important;
  background-color: #FAFAFA;
  margin-bottom: 30px
}

.card-body.show {
  display: block
}

.card {
  padding-bottom: 20px;
}

.radio {
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  font-weight: 500;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%)
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.radio.selected {
  box-shadow: 0px 8px 16px 0px #EEEEEE;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%)
}

.selected {
  background-color: #E0F2F1
}

.a {
  justify-content: center !important
}

.btn {
  border-radius: 0px
}

.btn,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important
}

/*--------------------------------- Top list */

.btn-toplist {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Rubik', sans-serif;
  background-color: rgba(255, 255, 255, 0.062);
  border: 3px solid #fff;
  color: #fff;
  border-radius: 14px;
  padding: 8px 20px;
  font-size: 17px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 2px solid #ccc;
  background-color: #f1f1f1ab;
  margin-top: 70px;
  border-radius: 14px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #f1f1f100;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Rubik', sans-serif;
  width: 25%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(221, 221, 221, 0.753);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(255, 255, 255, 0.678);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 5px solid #ccc;
  border-top: none;
  background-color: rgba(0, 0, 0, 0.534);
  font-family: 'Rubik', sans-serif;
  margin-bottom: 70px;
  border-radius: 14px;
  color: #fff;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.btn-top-page {
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.884);
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
}

/*--------------------------------- Footer */

.page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 35px;
}

.page-footer-bg-color {
    background-color: rgba(255, 255, 255, 0.712);
}

.socials-footer {
    text-align: right;
    font-size: 1.5em;
    margin-right: 10px;
}

.socials-footer i {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 5px;
    color: #888888;
}

/*--------------------------------- Top lists map */
/*CREDIT for responsiveness: https://blog.duda.co/responsive-google-maps-for-your-website */

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*--------------------------------- Hover effects */
/*CREDIT for Hover over social links and heart icon: https://ianlunn.github.io/Hover/#effects*/

.hvr-fade {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
}

.hvr-fade-heart {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade-heart:hover, .hvr-fade-heart:focus, .hvr-fade-heart:active {
    background-color: rgba(255, 255, 255, 0);
    color: #e74c3c;
}

/*--------------------------------- Media queries */

@media only screen and (max-width: 600px) {
    .socials-footer {
        text-align: center;
}

@media only screen and (max-width: 600px) {
  .text-welcome {
      margin-top: 150px;
}

@media all and (max-width: 600px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }